Functions
=========

Function calls
--------------



In the context of programming, a *function* is a named
sequence of statements that performs a computation. When you define a
function, you specify the name and the sequence of statements. Later,
you can "call" the function by name. We have already seen one example of
a *function call*:

In [1]:
type(32)

int

In [2]:
type("hjgjhghj")

str

In [3]:
len([23, 2, 3])

3

The name of the function is `type`. The expression in
parentheses is called the *argument* of the function. The
argument is a value or variable that we are passing into the function as
input to the function. The result, for the `type` function,
is the type of the argument.



It is common to say that a function "takes" an argument and "returns" a
result. The result is called the *return value*.

Built-in functions
------------------

Python provides a number of important built-in functions that we can use
without needing to provide the function definition. The creators of
Python wrote a set of functions to solve common problems and included
them in Python for us to use.

The `max` and `min` functions give us the largest
and smallest values in a list, respectively:

In [4]:
max('Hello world')

'w'

In [7]:
min('helloworld')

'd'

In [8]:
min([100, 10, 90])

10

The `max` function tells us the "largest character" in the
string (which turns out to be the letter "w") and the `min`
function shows us the smallest character (which turns out to be a
space).

Another very common built-in function is the `len` function
which tells us how many items are in its argument. If the argument to
`len` is a string, it returns the number of characters in the
string.

In [4]:
len('Hello world')

11

These functions are not limited to looking at strings. They can operate
on any set of values.

You should treat the names of built-in functions as reserved words
(i.e., avoid using "max" as a variable name).

Type conversion functions
-------------------------



Python also provides built-in functions that convert values from one
type to another. The `int` function takes any value and
converts it to an integer, if it can, or complains otherwise:

In [9]:
int('32')

32

In [10]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

`int` can convert floating-point values to integers, but it
doesn't round off; it chops off the fraction part:

In [11]:
int(3.99999)

3

In [12]:
int(-2.3)

-2

`float` converts integers and strings to floating-point
numbers:

In [60]:
float(32)

32.0

In [61]:
float('3.14159')

3.14159

Finally, `str` converts its argument to a string:

In [13]:
str(32)

'32'

In [63]:
str(3.14159)

'3.14159'

Math functions
--------------



Python has a `math` module that provides most of the familiar
mathematical functions. Before we can use the module, we have to import
it:

In [14]:
import math 
math.cos(90)

This statement creates a *module object* named math. If
you print the module object, you get some information about it:

In [ ]:
from matplotlib.pyplot import plot

plot()

In [ ]:
math.cos()

In [34]:
# not recommended
from math import *
tan(80)

9.00365494560708

In [30]:
from math import cos, sin

cos(90)

-0.4480736161291701

In [31]:
tan(80)

NameError: name 'tan' is not defined

In [29]:
plt.plot()

NameError: name 'plt' is not defined

In [15]:
print(math)

<module 'math' (built-in)>

The module object contains the functions and variables defined in the
module. To access one of the functions, you have to specify the name of
the module and the name of the function, separated by a dot (also known
as a period). This format is called *dot notation*.

In [21]:
ceil(11.9)

NameError: name 'ceil' is not defined

In [20]:
math.ceil(11.9)

12

In [18]:
math.cos(180)

-0.5984600690578581

In [67]:
math.sin(90)

0.8939966636005579

In [22]:
math.pi

3.141592653589793

In [23]:
math.e

2.718281828459045

In [68]:
math.pi

3.141592653589793

In [25]:
length = 3 * math.pi
length

9.42477796076938

In [28]:
radians = 0.7
h = math.sin(radians)
h
#height = math.sin(radians)

0.644217687237691

The example finds the sine of `radians`. The name of
the variable is a hint that `sin` and the other trigonometric
functions (`cos`, `tan`, etc.) take arguments in
radians. To convert from degrees to radians, divide by 360 and multiply
by $2
\pi$:

In [15]:
degrees = 45
radians = degrees / 360.0 * 2 * math.pi
math.sin(radians)

0.7071067811865476

The expression `math.pi` gets the variable `pi`
from the math module. The value of this variable is an approximation of
$\pi$, accurate to about 15 digits.

Adding new functions
--------------------

So far, we have only been using the functions that come with Python, but
it is also possible to add new functions. A *function
definition* specifies the name of a new function and the
sequence of statements that execute when the function is called. Once we
define a function, we can reuse the function over and over throughout
our program.



Here is an example:

In [ ]:
def fun_name():
    #line 1
    #line 2
    #line 3

In [52]:
math.pow(2, 3)

8.0

In [57]:
def calc_pow(num, power):
    """
    Hey this is a fun to cal the power
    
    Params:
    num: 
    power:
    
    """
    print(float(num**power))

In [56]:
calc_pow?

Signature: calc_pow(num, power)
Docstring:
Hey this is a fun to cal the power

Params:
num:
power:
File:      c:\users\dell\appdata\local\temp\ipykernel_35100\1052306738.py
Type:      function

In [58]:
calc_pow(2, 3)

8.0

In [38]:
forgot_to_run()

def forgot_to_run():
    print("forgot to run")

NameError: name 'forgot_to_run' is not defined

NameError: name 'forgot_to_run' is not defined

In [35]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')

In [36]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [51]:
def print_welcome(name):
    print("Welcome ",  name)

In [47]:
print_welcome("Ismail")

Welcome  Ismail

In [50]:
print_welcome(3)

Welcome  3

In [43]:
x = "olga"
print_welcome(x)

Welcome  olga

`def` is a keyword that indicates that this is a function
definition. The name of the function is `print_lyrics`. The rules for
function names are the same as for variable names: letters, numbers and
some punctuation marks are legal, but the first character can't be a
number. You can't use a keyword as the name of a function, and you
should avoid having a variable and a function with the same name.

The empty parentheses after the name indicate that this function doesn't
take any arguments. Later we will build functions that take arguments as
their inputs.



The first line of the function definition is called the
*header*; the rest is called the *body*.
The header has to end with a colon and the body has to be indented. By
convention, the indentation is always four spaces. The body can contain
any number of statements.


Defining a function creates a variable with the same name.

In [73]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [75]:
print(print_lyrics)

<function print_lyrics at 0x00000235FF15D168>

In [18]:
print(type(print_lyrics))

<class 'function'>

The value of `print_lyrics` is a *function object*, which
has type "function".



The syntax for calling the new function is the same as for built-in
functions:

In [19]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

Once you have defined a function, you can use it inside another
function. For example, to repeat the previous refrain, we could write a
function called `repeat_lyrics`:

In [78]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

And then call `repeat_lyrics`:

In [79]:
repeat_lyrics()

6
-0.4480736161291701
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

Function definitions get executed just like other
statements, but the effect is to create function objects. The statements
inside the function do not get executed until the function is called,
and the function definition generates no output.


As you might expect, you have to create a function before you can
execute it. In other words, the function definition has to be executed
before the first time it is called.

In [60]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')
    print('I sleep all night and I work all day.')

SyntaxError: invalid syntax (3017351243.py, line 4)

In [59]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [63]:
def print_welcome(name):
    print("Welcome ",  name)
    print("function_finished")

In [64]:
name = "Ghislian"
print_welcome(name)
print("done")

Welcome  Ghislian
function_finished
done

Flow of execution
-----------------



In order to ensure that a function is defined before its first use, you
have to know the order in which statements are executed, which is called
the *flow of execution*.

Execution always begins at the first statement of the program.
Statements are executed one at a time, in order from top to bottom.

Function *definitions* do not alter the flow of execution of the
program, but remember that statements inside the function are not
executed until the function is called.

A function call is like a detour in the flow of execution. Instead of
going to the next statement, the flow jumps to the body of the function,
executes all the statements there, and then comes back to pick up where
it left off.

That sounds simple enough, until you remember that one function can call
another. While in the middle of one function, the program might have to
execute the statements in another function. But while executing that new
function, the program might have to execute yet another function!

Fortunately, Python is good at keeping track of where it is, so each
time a function completes, the program picks up where it left off in the
function that called it. When it gets to the end of the program, it
terminates.

What's the moral of this sordid tale? When you read a program, you don't
always want to read from top to bottom. Sometimes it makes more sense if
you follow the flow of execution.

Parameters and arguments
------------------------




Some of the built-in functions we have seen require arguments. For
example, when you call `math.sin` you pass a number as an
argument. Some functions take more than one argument:
`math.pow` takes two, the base and the exponent.

Inside the function, the arguments are assigned to variables called
*parameters*. Here is an example of a user-defined
function that takes an argument:

In [ ]:
math.sin(90)

In [92]:
math.pow(2, 3)

8.0

In [85]:
def print_twice(name):# name = x
    print(name)
    print(name)

This function assigns the argument to a parameter named
`bruce`. When the function is called, it prints the value of
the parameter (whatever it is) twice.

This function works with any value that can be printed.

In [94]:
y = print_twice("hjfjh")

hjfjh
hjfjh

In [95]:
print(y)

None

In [91]:
x = "Ali"
print_twice(x)

Ali
Ali

In [86]:
print_twice('Spam')

Spam
Spam

In [87]:
print_twice(17)

17
17

In [88]:
print_twice(math.pi)

3.141592653589793
3.141592653589793

The same rules of composition that apply to built-in functions also
apply to user-defined functions, so we can use any kind of expression as
an argument for `print_twice`:

In [89]:
'Spam '*4

'Spam Spam Spam Spam '

In [27]:
print_twice('Spam '*4)

Spam Spam Spam Spam
Spam Spam Spam Spam

In [90]:
print_twice(math.cos(math.pi))

-1.0
-1.0

The argument is evaluated before the function is called, so in the
examples the expressions `'Spam '*4` and `math.cos(math.pi)`
are only evaluated once.



You can also use a variable as an argument:

In [29]:
michael = 'Eric, the half a bee.'
print_twice(michael)

Eric, the half a bee.
Eric, the half a bee.

The name of the variable we pass as an argument (`michael`)
has nothing to do with the name of the parameter (`bruce`).
It doesn't matter what the value was called back home (in the caller);
here in `print_twice`, we call everybody `bruce`.

Fruitful functions and void functions
-------------------------------------



Some of the functions we are using, such as the math functions, yield
results; for lack of a better name, I call them *fruitful
functions*. Other functions, like `print_twice`, perform an
action but don't return a value. They are called *void
functions*.

When you call a fruitful function, you almost always want to do
something with the result; for example, you might assign it to a
variable or use it as part of an expression:

In [65]:
def print_welcome(name):
    print("Welcome ",  name)
    print("function_finished")

In [66]:
 print_welcome(name)

Welcome  Ghislian
function_finished

In [67]:
type( print_welcome(name))

Welcome  Ghislian
function_finished

NoneType

In [68]:
def calc_power(a, b):
    result = a**b
    return result

In [71]:
6 * calc_power(2, 3)

48

In [30]:
x = math.cos(radians)
golden = (math.sqrt(5) + 1) / 2

But in a script, if you call a fruitful function and do not store the
result of the function in a variable, the return value vanishes into the
mist!

In [96]:
math.sqrt(5)

2.23606797749979

This script computes the square root of 5, but since it doesn't store
the result in a variable or display the result, it is not very useful.



Void functions might display something on the screen or have some other
effect, but they don't have a return value. If you try to assign the
result to a variable, you get a special value called `None`.

In [33]:
result = print_twice('Bing')

Bing
Bing

In [34]:
print(result)

None

The value `None` is not the same as the string "None". It
is a special value that has its own type:

In [35]:
print(type(None))

<class 'NoneType'>

To return a result from a function, we use the `return`
statement in our function. For example, we could make a very simple
function called `addtwo` that adds two numbers together and
returns a result.

In [110]:
#void
def fun_name(a, b):
    print(a**b)

In [111]:
result = fun_name(2, 3)

8

In [115]:
print(result*2)

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [97]:
def addtwo(a, b):
    added = a + b
    return added

In [113]:
x = addtwo(3, 5)

In [114]:
print(x+2)

10

In [107]:
print(addtwo(3, 5))

8

In [99]:
2**3

8

In [125]:
import funs

In [126]:
funs.add_in_another_place(3, 2)

5

In [127]:
def sum_lst(l):
    return sum(l)

In [128]:
lst = [1,2, 3, 4]
sum_lst(lst)

10

In [100]:
def calc_power(b, p):
    x = b**p
    return x

In [102]:
result = calc_power(2, 3)
print(result)

8

When this script executes, the `print` statement will print
out "8" because the `addtwo` function was called with 3 and 5
as arguments. Within the function, the parameters `a` and
`b` were 3 and 5 respectively. The function computed the sum
of the two numbers and placed it in the local function variable named
`added`. Then it used the `return` statement to
send the computed value back to the calling code as the function result,
which was assigned to the variable `x` and printed out.

Why functions?
--------------


It may not be clear why it is worth the trouble to divide a program into
functions. There are several reasons:

-   Creating a new function gives you an opportunity to name a group of
    statements, which makes your program easier to read, understand, and
    debug.

-   Functions can make a program smaller by eliminating repetitive code.
    Later, if you make a change, you only have to make it in one place.

-   Dividing a long program into functions allows you to debug the parts
    one at a time and then assemble them into a working whole.

-   Well-designed functions are often useful for many programs. Once you
    write and debug one, you can reuse it.

Throughout the rest of the book, often we will use a function definition
to explain a concept. Part of the skill of creating and using functions
is to have a function properly capture an idea such as "find the
smallest value in a list of values". Later we will show you code that
finds the smallest in a list of values and we will present it to you as
a function named `min` which takes a list of values as its
argument and returns the smallest value in the list.

In [72]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# do not display the number with scientific notation
pd.options.display.float_format = '{:.2f}'.format

In [73]:
# import cleaned versions of files

# orderlines_cl.csv
url = 'https://drive.google.com/file/d/1lrSr_vVbXN7QSVSScf68DpWwvCMclK5m/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
orderlines = pd.read_csv(path)

# orders_cl.csv
url = 'https://drive.google.com/file/d/1cGjJ9o3vtwjK0Sohyr3YVTccXfnTPijT/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
orders = pd.read_csv(path)

# brands_cl.csv
url = 'https://drive.google.com/file/d/1XGyabaa4mAkjixMk3XPgx_14OoSse3rs/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
brands = pd.read_csv(path)

# products_cl.csv
url = 'https://drive.google.com/file/d/1rHC8M-HG13FtVncImXBydgDtIHyCPH0g/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
products = pd.read_csv(path)

In [74]:
products

,sku,name,desc,price,type,max_price_orderlines
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,8696,NaN
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,13855401,NaN
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,1387,NaN
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,1230,NaN
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1364,NaN
...,...,...,...,...,...,...
10574,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,12282,NaN
10575,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,1392,NaN
10576,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,1392,NaN
10577,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,1392,NaN
10578,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,1392,NaN

In [77]:
products["short"] = products.sku.str[:3]
products.head()

,sku,name,desc,price,type,max_price_orderlines,short
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,8696,NaN,RAI
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,13855401,NaN,APP
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,1387,NaN,APP
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,1230,NaN,APP
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1364,NaN,KIN

In [84]:
df = pd.DataFrame({"a":[1, -3, 2.9],
                  "b": [100, 200, 300]})

In [85]:
df

      a    b
0  1.00  100
1 -3.00  200
2  2.90  300

In [87]:
def calc_bla(x):
    res = x * 5 / math.pi
    return res

In [88]:
df['a'].apply(calc_bla)

0    1.59
1   -4.77
2    4.62
Name: a, dtype: float64

In [ ]:
products['price']

In [78]:
dic_avg = {'RAI':65, 'APP': 100, 'KIN':9}

In [79]:
products.short.map(dic_avg)

0        65.00
1       100.00
2       100.00
3       100.00
4         9.00
         ...
10574      NaN
10575      NaN
10576      NaN
10577      NaN
10578      NaN
Name: short, Length: 10579, dtype: float64

In [132]:
products.sku.apply(lambda x:x[:3])

0        RAI
1        APP
2        APP
3        APP
4        KIN
        ...
10574    BEL
10575    THU
10576    THU
10577    THU
10578    THU
Name: sku, Length: 10579, dtype: object

In [133]:
def extract_brand_sku(s):
    return s[:3]

In [134]:
products.sku.apply(extract_brand_sku)

0        RAI
1        APP
2        APP
3        APP
4        KIN
        ...
10574    BEL
10575    THU
10576    THU
10577    THU
10578    THU
Name: sku, Length: 10579, dtype: object

In [136]:
orders['created_date'] = pd.to_datetime(orders['created_date'])

In [143]:
def extract_week(ser):
    return pd.to_numeric(ser.dt.strftime('%W'))

In [144]:
orders['created_date']

0        2017-01-02 13:35:40
1        2017-11-06 13:10:02
2        2017-12-31 17:40:03
3        2017-02-16 10:59:38
4        2017-11-24 13:35:19
                 ...
204686   2018-03-14 13:56:38
204687   2018-03-14 13:57:25
204688   2018-03-14 13:57:34
204689   2018-03-14 13:57:41
204690   2018-03-14 13:58:36
Name: created_date, Length: 204691, dtype: datetime64[ns]

In [146]:
orders.assign(week=extract_week(orders['created_date']))

,order_id,created_date,total_paid,state,check_orders,week
0,241319,2017-01-02 13:35:40,44.99,Cancelled,True,1
1,241423,2017-11-06 13:10:02,136.15,Completed,True,45
2,242832,2017-12-31 17:40:03,15.76,Completed,True,52
3,243330,2017-02-16 10:59:38,84.98,Completed,True,7
4,243784,2017-11-24 13:35:19,157.86,Cancelled,True,47
...,...,...,...,...,...,...
204686,527397,2018-03-14 13:56:38,42.99,Place Order,True,11
204687,527398,2018-03-14 13:57:25,42.99,Shopping Basket,True,11
204688,527399,2018-03-14 13:57:34,141.58,Shopping Basket,True,11
204689,527400,2018-03-14 13:57:41,19.98,Shopping Basket,True,11
204690,527401,2018-03-14 13:58:36,18.98,Place Order,True,11

In [147]:
orders.assign(week=extract_week(orders['created_date']))

,order_id,created_date,total_paid,state,check_orders,week
0,241319,2017-01-02 13:35:40,44.99,Cancelled,True,1
1,241423,2017-11-06 13:10:02,136.15,Completed,True,45
2,242832,2017-12-31 17:40:03,15.76,Completed,True,52
3,243330,2017-02-16 10:59:38,84.98,Completed,True,7
4,243784,2017-11-24 13:35:19,157.86,Cancelled,True,47
...,...,...,...,...,...,...
204686,527397,2018-03-14 13:56:38,42.99,Place Order,True,11
204687,527398,2018-03-14 13:57:25,42.99,Shopping Basket,True,11
204688,527399,2018-03-14 13:57:34,141.58,Shopping Basket,True,11
204689,527400,2018-03-14 13:57:41,19.98,Shopping Basket,True,11
204690,527401,2018-03-14 13:58:36,18.98,Place Order,True,11

In [37]:
import numpy as np

In [38]:
a = ['cat', 'dog']#np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
def fun_name(a):
    if cond:
        do pla
    elif cond:
        
    else:

In [49]:
df.assign(column_name= lambda a:
    np.where(((a > 5) & (a < 8)), "cat", 
    np.where((a == 1), "dog", "ccccc"))
    
)

array(['ccccc', 'dog', 'ccccc', 'ccccc', 'ccccc', 'ccccc', 'cat', 'cat',
       'ccccc', 'ccccc'], dtype='<U5')

In [ ]:
for ele in a:
    if a > 5:
        
    else: