# Introduction to grouping

In [ ]:
import pandas as pd

names = ["Erika Schumacher", "Javi López", "Maria Rovira", "Ana Gromek", 
         "Shekhar Biswas", "Muriel Adams", "Saira Polom", "Alex Kubiak", 
         "Kit Ching", "Dog Woof"]
ages = [22, 50, 23, 29, 44, 30, 25, 71, 35, 2]
nations = ["DE", "ES", "ES", "PL", "IN", "FR", "IN", "PL", "UK", "XX"]
siblings = [2, 0, 4, 1, 1, 2, 3, 7, 0, 9]
colours = ["Red", "Yellow", "Yellow", "Blue", "Red", "Yellow", "Blue", "Blue", "Red", "Gray"]



people = pd.DataFrame({"name":names,
                       "age":ages,
                       "country":nations,
                       "siblings":siblings,
                       "favourite_colour":colours
                      })

people.head()

               name  age country  siblings favourite_colour
0  Erika Schumacher   22      DE         2              Red
1        Javi López   50      ES         0           Yellow
2      Maria Rovira   23      ES         4           Yellow
3        Ana Gromek   29      PL         1             Blue
4    Shekhar Biswas   44      IN         1              Red

In [ ]:
people

               name  age country  siblings favourite_colour
0  Erika Schumacher   22      DE         2              Red
1        Javi López   50      ES         0           Yellow
2      Maria Rovira   23      ES         4           Yellow
3        Ana Gromek   29      PL         1             Blue
4    Shekhar Biswas   44      IN         1              Red
5      Muriel Adams   30      FR         2           Yellow
6       Saira Polom   25      IN         3             Blue
7       Alex Kubiak   71      PL         7             Blue
8         Kit Ching   35      UK         0              Red
9          Dog Woof    2      XX         9             Gray

In [ ]:
people['favourite_colour'].value_counts()

Red       3
Yellow    3
Blue      3
Gray      1
Name: favourite_colour, dtype: int64

In [ ]:
people['favourite_colour'].value_counts(normalize=True)

Red       0.3
Yellow    0.3
Blue      0.3
Gray      0.1
Name: favourite_colour, dtype: float64

In [ ]:
people.age.mean()

33.1

In [ ]:
people.groupby('country').age.mean()

country
DE    22.0
ES    36.5
FR    30.0
IN    34.5
PL    50.0
UK    35.0
XX     2.0
Name: age, dtype: float64

In [ ]:
people.groupby('country').mean()

<ipython-input-23-fefa2e3f6547>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  people.groupby('country').mean()

          age  siblings
country
DE       22.0       2.0
ES       36.5       2.0
FR       30.0       2.0
IN       34.5       2.0
PL       50.0       4.0
UK       35.0       0.0
XX        2.0       9.0

In [ ]:
people.groupby('country').age.agg(['max', 'min', 'mean'])

         max  min  mean
country
DE        22   22  22.0
ES        50   23  36.5
FR        30   30  30.0
IN        44   25  34.5
PL        71   29  50.0
UK        35   35  35.0
XX         2    2   2.0

In [ ]:
people['age']

0    22
1    50
2    23
3    29
4    44
5    30
6    25
7    71
8    35
9     2
Name: age, dtype: int64

In [ ]:
people.describe()

             age   siblings
count  10.000000  10.000000
mean   33.100000   2.900000
std    18.645524   2.998148
min     2.000000   0.000000
25%    23.500000   1.000000
50%    29.500000   2.000000
75%    41.750000   3.750000
max    71.000000   9.000000

In [ ]:
people['age'].mean()

33.1

In [ ]:
people['age'].min()

2

In [ ]:
people['age'].max()

71

In [ ]:
people['age'].agg(['min', 'max', 'mean'])

min      2.0
max     71.0
mean    33.1
Name: age, dtype: float64

In [ ]:
people.mean()

<ipython-input-14-1c46815a320b>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  people.mean()

age         33.1
siblings     2.9
dtype: float64

In [ ]:
people.agg({'age':'mean', 'siblings':'max'})

age         33.1
siblings     9.0
dtype: float64

##1&nbsp;`.value_counts()`

For categorical columns, there is an easy way to find out how many values belong to that category: using `.value_counts()`.

Have a look at the `.value_counts()` documentation [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html).

In [ ]:
people["country"].value_counts()

ES    2
PL    2
IN    2
DE    1
FR    1
UK    1
XX    1
Name: country, dtype: int64

In [ ]:
# Find the number of students from each country.
people["country"].value_counts()

ES    2
PL    2
IN    2
DE    1
FR    1
UK    1
XX    1
Name: country, dtype: int64

##2&nbsp; `.groupby()`

Similar to SQL, it is possible to group data into categories while applying aggregation functions to the data. The grouping is done using `.groupby()`.

Some of the possible aggregation functions are
- `.mean()`,
- `.sum()`,
- `.count()`,
- `.max()`,
- ...

Have a look at the `.groupby()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [ ]:
# Get the average age and number of siblings per group of favourite colour.
people.groupby("favourite_colour").mean()

                        age  siblings
favourite_colour
Blue              41.666667  3.666667
Gray               2.000000  9.000000
Red               33.666667  1.000000
Yellow            34.333333  2.000000

##3&nbsp;`.agg()`

You already worked with `.agg`, which allows you to aggregate data. This can be done for multiple columns at the same time, and also multiple aggregations can be applied.

> `.aggregate()` will work the same way as `.agg()`. It is recommended though to use `.agg()`.

Have a look at the `.agg()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html).

In [ ]:
# Get the sum and min values for the "ages" and "siblings" columns each.
people[["age", "siblings"]].agg(["sum", "min"])

     age  siblings
sum  331        29
min    2         0

`.agg()` is frequently used in combination with `.groupby()` too.

In [ ]:
# Group by colour.
# For each colour, get the average age and the total number of siblings.
people.groupby("favourite_colour").agg({"age": "mean", "siblings": "sum"})

                        age  siblings
favourite_colour
Blue              41.666667        11
Gray               2.000000         9
Red               33.666667         3
Yellow            34.333333         6

## 4.&nbsp;Challenges

### Exercise 1

For each nationality, compute the maximum age.

In [ ]:
# Your code here.

### Exercise 2

For each colours-nationalities combination, compute the min, average and max number of siblings.

In [ ]:
# Your code here.